  h3 {
  margin: 0 auto;
  text-align: center;
  }
  .month-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .dialog-container {
    max-height: calc(100vh - 150px); 
    overflow-y: auto;
  }
  .month-card {
    margin: 10px;
    padding: 20px;
    border: 1.5px solid #ccc;
    border-color: #000000;
    border-radius: 6px;
    text-align: center;
    width: 93px;
    height: 70px;
  }
  .pending-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
  }
  mat-icon {
    cursor: pointer;
  }
  .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color.ng-star-inserted {
    color: #ffffff;
  }
  .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color:hover {
    color: #000000;
   }
  .mdc-button {
    height: 50px;
  }

  p {
    font-weight: 500;
    color: #000000;
  }
  .mdc-button {
    color: #000000;
  }
  
  .month-card.paid {
    background-color: #58df78; 
  }
  
  .month-card.pending {
    background-color: #60c7ff; 
  }
  
  .month-card.not-paid {
    background-color: #e65662; 
  }
  .month-card.not-started {
    background-color: #a2999a; 
  }