<div class="header">
<h3 mat-dialog-title>Payment Status by Month</h3>
<div mat-dialog-actions>
    <mat-icon mat-dialog-close>
      close
    </mat-icon>
</div>
</div>

<div class="dialog-container" mat-dialog-content>
    <div class="month-cards">
        <div *ngFor="let monthData of months" class="month-card" [ngClass]="getCardClass(monthData.paymentStatus)">
          <ng-container [ngSwitch]="monthData.paymentStatus">
            <p *ngSwitchCase="'Paid'"> {{ monthData.month }} </p>
            <p *ngSwitchCase="'Paid'"> {{ monthData.paymentStatus }}</p>

            <p *ngSwitchCase="'Not Paid'"> {{ monthData.month }}</p>
            <p *ngSwitchCase="'Not Paid'"> {{ monthData.paymentStatus }}</p>

            <p *ngSwitchCase="'Pending'">{{ monthData.month }}</p>
            <div  class="pending-container">
            <p *ngSwitchCase="'Pending'">Pending</p>
            <mat-icon *ngSwitchCase="'Pending'" (click)="openConfirmPaymentDialog(monthData.month)">
              check_box
            </mat-icon>
          </div>

            <p *ngSwitchDefault> {{ monthData.month }}</p>
            <p *ngSwitchDefault> {{ monthData.paymentStatus }}</p>
          </ng-container>
        </div>
      </div>
</div>

