<h1 mat-dialog-title>{{ isUpdate ? 'Update Expense' : 'Create Expense' }}</h1>

<div mat-dialog-content>
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>

      <mat-error *ngIf="expenseForm.get('name')?.hasError('maxlength')">
        Name cannot exceed 30 characters.
      </mat-error>
      <mat-error *ngIf="expenseForm.get('name')?.hasError('empty')">
        Name cannot be empty.
      </mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Cost</mat-label>
      <input matInput formControlName="cost" type="number" required>

      <mat-error *ngIf="expenseForm.get('cost')?.hasError('required')">
        Cost is required.
      </mat-error>
      <mat-error *ngIf="expenseForm.get('cost')?.hasError('pattern')">
        Cost must be a number.
      </mat-error>
      
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="expenseForm.get('description')?.hasError('maxlength')">
        Description cannot exceed 30 characters
      </mat-error>
      <mat-error *ngIf="expenseForm.get('description')?.hasError('empty')">
        description cannot be empty.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date"
      [min]="minDate" [max]="maxDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="expenseForm.get('date')?.hasError('required')">
        Date is required
      </mat-error>
    </mat-form-field>

    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" >{{ isUpdate ? 'Update' : 'Create' }}</button>
  </form>
</div>

