
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
     
    <!-- Full Name -->
    <mat-form-field>
      <input matInput placeholder="Full Name" formControlName="fullName" required>
      <mat-error *ngIf="signUpForm.get('fullName')?.hasError('empty')">Name cannot be empty</mat-error>
    </mat-form-field>
  
    <!-- Phone Number -->
    <mat-form-field>
      <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
      <mat-error *ngIf="signUpForm.get('phoneNumber')?.hasError('empty')">Phone number cannot be empty.</mat-error>
      <mat-error *ngIf="signUpForm.get('phoneNumber')?.hasError('pattern')">Phone number must contain only numbers.</mat-error>
      <mat-error *ngIf="signUpForm.get('phoneNumber')?.hasError('maxlength')">Phone number must be 10 digits.</mat-error>
      <mat-error *ngIf="signUpForm.get('phoneNumber')?.hasError('minlength')">Phone number must be 10 digits.</mat-error>
    </mat-form-field>
    
    <!-- Password -->
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">Password must contain at least 8 characters.</mat-error>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('maxlength')">Password must not exceed 200 characters.</mat-error>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('invalidPassword')">Password must contain letters and numbers.</mat-error>
    </mat-form-field>
  
 
    <!-- Role Selection -->
    <mat-radio-group formControlName="role">
      <mat-radio-button (click)="onRoleChanged('resident')" value="resident">resident</mat-radio-button>
      <mat-radio-button (click)="onRoleChanged('syndic')" value="syndic">syndic</mat-radio-button>
    </mat-radio-group>
  
    <!-- For Resident Role -->
    <div *ngIf="signUpForm.get('role')?.value === 'resident'">
      <!-- Select Syndic -->
      <mat-form-field>
        <mat-select placeholder="Select Syndic" formControlName="selectedSyndic" (selectionChange)="onSyndicChange($event.value)" >
          <mat-option *ngFor="let syndic of syndics" [value]="syndic.idSyndic">
            {{ syndic.fullName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="signUpForm.get('selectedSyndic')?.hasError('required')">Syndic is required</mat-error>
      </mat-form-field>
  
      <!-- Select Building -->
      <mat-form-field>
        <mat-select placeholder="Select Building" formControlName="selectedBuilding">
          <mat-option *ngFor="let building of buildings" [value]="building.idBuilding">
            {{ building.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="signUpForm.get('selectedBuilding')?.hasError('required')">Building is required</mat-error>
      </mat-form-field>
    </div>
  
    <!-- For Syndic Role -->
    <div *ngIf="signUpForm.get('role')?.value === 'syndic'">
      <!-- Bank Name -->
      <mat-form-field>
        <input matInput placeholder="Bank Name" formControlName="bankName">
        <mat-error *ngIf="signUpForm.get('bankName')?.hasError('required')">Bank name is required</mat-error>
      </mat-form-field>
    
  
      <!-- Bank Account -->
      <mat-form-field>
        <input matInput placeholder="Bank Account" formControlName="bankAccount">
        <mat-error *ngIf="signUpForm.get('bankAccount')?.hasError('required')">Bank account is required</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">Sign Up</button>
    <div class="new-acc-container">
      <a [routerLink]="['/']">if you are registered, Login now</a>
    </div>
    <div *ngIf="signupFailed" class="error">
      this user have already an account.
    </div>
    <div *ngIf="phoneExist" class="error">
      this phone number is already used.
    </div>
  </form>

