form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }
  
  button {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-hover-icon-color: #351fae;
    --mdc-radio-selected-icon-color: #3636d6;
    --mdc-radio-selected-pressed-icon-color: #351fae;
    --mat-radio-ripple-color: #494545;
    --mat-radio-checked-ripple-color: #ffffff;
}
.mat-mdc-radio-group {
    margin-bottom: 10px;
}
.error {
  margin-top: 15px;
  color: #f44336;
  text-align: center;
  font-weight: bold;
}
.new-acc-container, a  {
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}