mat-radio-group {
    display: flex;
    padding-bottom: 5px;
}
.mat-mdc-radio-touch-target {
    padding: 0;
}
.mat-mdc-dialog-content {
    padding: 0px 25px;
}
.mat-mdc-dialog-actions {
    padding: 0 4px 4px 10px;
}
.bank-details {
    margin-top: 5px;
}
.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-hover-icon-color: #351fae;
    --mdc-radio-selected-icon-color: #3636d6;
    --mdc-radio-selected-pressed-icon-color: #351fae;
    --mat-radio-ripple-color: #494545;
    --mat-radio-checked-ripple-color: #ffffff;
}

