@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';


* {
    font-family: "Ubuntu", 'sans-serif';
}

body {
    height: 100%; 
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
    }
.mat-mdc-snack-bar-container {
        --mdc-snackbar-container-color: #334183;
        --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
        --mat-snack-bar-button-color: #ffffff;
}
